
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.details-oCy {
  width: 100%;
  height: 81.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.details-oCy .iphone-13-mini-5-iqj {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffbe18;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-l9ts-p85 {
  box-sizing: border-box;
  padding-bottom: 6.699rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-l9ts-p85 .fc46555f342d6e13f99991ab1065-1-9RF {
  margin-bottom: 84.4048rem;
  width: 50rem;
  height: 35.0952rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-l9ts-p85 .vector-rqT {
  margin-left: 1.7rem;
  width: 1.3995rem;
  height: 1.001rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-rjgd-nz1 {
  width: 100%;
  height: 26.1rem;
  position: relative;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-rjgd-nz1 .fc46555f342d6e13f99991ab1065-2-YTP {
  width: 23.8rem;
  height: 20rem;
  position: absolute;
  left: 6.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-rjgd-nz1 .vector-41-fY1 {
  width: 23.3rem;
  height: 8.1rem;
  position: absolute;
  left: 4.3rem;
  top: 18rem;
  object-fit: contain;
  vertical-align: top;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-rjgd-nz1 .f75462591e040e4a643dc0f4dab39e-1-Pyo {
  width: 13.6rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  object-fit: cover;
  vertical-align: top;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-rjgd-nz1 .ffc4939a22d4d4a43f3f7e8be52cf1f-1-imB {
  width: 14.4rem;
  height: 14.3rem;
  position: relative;
  left: 29.5rem;
  top: 1.6rem;
  background-size: 163.934% 156.654%;
  background-position: -4.4852rem -3.1965rem;
  background-image: url('../assets/ffc4939a22d4d4a43f3f7e8be52cf1f-1-xTX.png');
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ {
  box-sizing: border-box;
  padding-bottom: 1.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-q1qx-jwB {
  margin: 0rem 16.5rem 2.4rem 15rem;
  width: calc(100% - 31.5rem);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-q1qx-jwB .rectangle-10738-fK3 {
  width: 1rem;
  height: 0.5rem;
  background-color: #f6f6f6;
  border-radius: 4rem;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-q1qx-jwB .rectangle-10736-CJy {
  width: 3rem;
  height: 0.5rem;
  background-color: #f6f6f6;
  border-radius: 4rem;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-q1qx-jwB .rectangle-10737-jZo {
  width: 1rem;
  height: 0.5rem;
  background-color: #f6f6f6;
  border-radius: 4rem;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 1.5rem 2.4rem 2.6rem 1.7rem;
  width: 36rem;
  border: solid 0.3rem #ffbe18;
  background-color: #0d0c10;
  border-radius: 0 20rem 3.4rem 3.4rem;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .beef-juicy-burger-zkd {
  margin-bottom: 1.3555rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 {
  margin: 0rem 0rem 1.024rem 0.383rem;
  display: flex;
  align-items: center;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 .vector-rH3 {
  margin-right: 0.2083rem;
  width: 1.4583rem;
  height: 1.421rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 .vector-aiq {
  margin-right: 0.5208rem;
  width: 1.4583rem;
  height: 1.421rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 .vector-Xe5 {
  margin-right: 0.2083rem;
  width: 1.4583rem;
  height: 1.421rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 .vector-5Qh {
  margin-right: 0.5208rem;
  width: 1.4583rem;
  height: 1.421rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-gnjh-KY1 .vector-pdB {
  width: 1.4583rem;
  height: 1.421rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .item-20-BCq {
  margin: 0rem 0rem 3rem 0.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .description-td3 {
  margin: 0rem 0rem 0.8rem 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .juicy-big-loaded-with-toppings-of-my-choice-high-quality-beef-medium-to-well-with-cheese-and-bacon-on-a-multigrain-bun-a-huge-single-or-triple-burger-with-all-the-fixings-cheese-lettuce-tomato-onions-and-special-sauce-or-mayonnaise-1hf {
  margin: 0rem 0rem 4.1rem 0.3rem;
  max-width: 31.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.details-oCy .iphone-13-mini-5-iqj .android-large-4-g1s .auto-group-cvnd-CAZ .auto-group-4uvu-5df .auto-group-khrf-pQD {
  margin-left: 0.7rem;
  width: 31.2rem;
  height: 5.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffbe18;
  border-radius: 4rem;
}
