
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.home-H6m {
  width: 100%;
  height: 81.2rem;
  overflow: hidden;
  position: relative;
  background-color: #000000;

  .android-large-5-hAV {
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 1.1rem;
    height: 100%;
    overflow: hidden;
    align-items: center;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #000000;

    .auto-group-ucfw-y1X {
      height: 58.2rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .burger-hamburger-cheeseburger-1-6rq {
        object-fit: cover;
        vertical-align: top;
        width: 50rem;
        height: 54.1rem;
        position: absolute;
        left: 0;
        top: 2.9rem;
      }
      .big-kitchen-burger-omF {
        position: absolute;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 29.3rem;
        left: 2.2rem;
        top: 51.3rem;
        font-size: 3.2rem;
        font-weight: 700;
        height: 3.9rem;
      }
      .at-your-door-step-Guj {
        font-size: 2.4rem;
        font-weight: 700;
        color: #ffbe18;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 2.2rem;
        top: 55.2rem;
        line-height: 1.2125;
        width: 20.8rem;
        height: 3rem;
      }
      .logo-removebg-preview-1-aQd {
        vertical-align: top;
        width: 38.3rem;
        height: 9rem;
        position: absolute;
        left: 0.5rem;
        top: 0;
        object-fit: cover;
      }
    }
    .auto-group-jxlq-hVF {
      box-sizing: border-box;
      padding: 1.3rem 3.2rem 2.9rem 2.2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-j6fx-ooB {
        margin: 0rem 14.1rem 2.8rem 0rem;
        width: 18rem;
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .make-an-order-of-any-food-of-choice-jRw {
          white-space: nowrap;
          position: absolute;
          font-size: 1rem;
          font-weight: 700;
          top: 0;
          line-height: 1.2125;
          color: #eeeeee;
          font-family: Inter, 'Source Sans Pro';
          width: 17.4rem;
          height: 1.3rem;
          left: 0;
        }
        .and-get-it-deliverd-to-your-door-step-Dru {
          position: absolute;
          left: 0;
          top: 1.2rem;
          color: #eeeeee;
          white-space: nowrap;
          width: 18rem;
          height: 1.3rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-ge29-ujj {
        justify-content: center;
        flex-shrink: 0;
        margin: 0rem 0rem 1.6rem 0.9rem;
        height: 5.4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 4rem;
        width: 31.2rem;
        white-space: nowrap;
        line-height: 1.2125;
        color: #ffffff;
        display: flex;
        align-items: center;
        background-color: #ffbe18;
        font-size: 1.8rem;
      }
      .auto-group-xzlu-8sP {
        justify-content: center;
        color: #ffffff;
        align-items: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 4rem;
        font-size: 1.8rem;
        font-weight: 700;
        display: flex;
        border: solid 0.1rem #ffbe18;
        box-sizing: border-box;
        width: 31.2rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.9rem;
        height: 5.4rem;
      }
    }
  }
}
